<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>需求发布</title>
</head>
<body>
<p align="center"><font size="5" face="微软雅黑" color="#006400">欢迎使用需求发布应用系统</font></p>
<p align="left"><a href="https://www.baidu.com"><font size="4" face="微软雅黑" color="#adff2f">苗木信息发布</font></a></p>
<p align="left"><a href="https://www.baidu.com"><font size="4" face="微软雅黑" color="#a9a9a9">人才招聘信息发布</font></a></p>
<p align="left"><a href="https://www.baidu.com"><font size="4" face="微软雅黑" color="#2f4f4f">设备租赁信息发布</font></a></p>
<p align="left"><a href="https://www.baidu.com"><font size="4" face="微软雅黑" color="#dc143c">招标信息发布</font></a></p>
</body>
</html>